/*---------------------------------------
 **   Section: Our focus             -----
-----------------------------------------*/
.focus-box .service-icon .pixeden {
  border-radius: 50%;
  text-align: center; }

.focus {
  overflow: hidden;
  background: #FFFFFF; }

.focus .row {
  text-align: center; }

.focus .row .focus-box, .our-team .row .team-box {
  display: inline-block;
  float: none !important;
  margin-right: -4px;
  vertical-align: top;
  margin-bottom: 25px; }

/* FOCUS BOX */
.focus-box .service-icon {
  margin-bottom: 30px;
  width: 145px;
  height: 145px;
  margin: auto;
  border-radius: 50%;
  border: 10px solid #ececec;
  margin-bottom: 20px;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

/* ON HOVER COLORED ROUNDED CIRCLE AROUND ICONS */
/* ON HOVER COLORED ROUNDED CIRCLE AROUND ICONS */
.red, .green, .blue, .yellow {
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.focus-box:nth-child(4n+1) .service-icon:hover {
  border: 10px solid #e96656; }

.focus-box:nth-child(4n+2) .service-icon:hover {
  border: 10px solid #34d293; }

.focus-box:nth-child(4n+3) .service-icon:hover {
  border: 10px solid #3ab0e2; }

.focus-box:nth-child(4n+4) .service-icon:hover {
  border: 10px solid #f7d861; }

.focus-box:nth-child(4n+1) .red-border-bottom:before {
  background: #e96656; }

.focus-box:nth-child(4n+2) .red-border-bottom:before {
  background: #34d293; }

.focus-box:nth-child(4n+3) .red-border-bottom:before {
  background: #3ab0e2; }

.focus-box:nth-child(4n+4) .red-border-bottom:before {
  background: #f7d861; }

.focus-box h5 {
  margin-bottom: 15px;
  color: #404040;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 17px;
  float: none;
  width: auto;
  background: none; }

.focus-box p {
  font-size: 14px;
  color: #808080; }

/*----OTHER FOCUSES ----*/
.other-focuses {
  background: url(images/lines.png) repeat-x center;
  margin-bottom: 25px; }

.other-focuses .section-footer-title {
  padding: 0 15px;
  color: #404040;
  font-weight: bold; }

.other-focus-list {
  padding-top: 5px;
  margin-bottom: -17px; }

.other-focus-list ul li {
  display: inline-block;
  margin-right: 50px;
  padding-bottom: 15px;
  text-transform: uppercase; }

.other-focus-list ul li:last-child {
  margin-right: 0; }

.other-focus-list ul li i {
  margin-right: 8px; }
